.disp-left-container {
    position: relative;
    background-color: whitesmoke;
    margin-right: 0px;
    min-width: 340px;
    max-width: 340px;
    height: 600px;
    max-height: 600px;
    /* border: 2px solid black; */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.disp-left-container::-webkit-scrollbar {
    display: none;
}

.disp-left-item {
    background-color: rgb(63, 61, 61);
    text-align: left;
    padding: 14px;
    margin: 7px;

    /* box-shadow: 0 2px 4px 0 rgb(63, 61, 61); */
}

hr {
    padding: 0px;
    margin: 0px;
}

.disp-left-item-hover:hover {
    /* box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 1); */
    box-shadow: 0 4px 8px 0 rgb(63, 61, 61);
    border: 2px solid black;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}

.disp-item-hover {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 7px;
}

.disp-plus-icon {
    position: absolute;
    top: -1.4px;
    right: -1.4px;
    width: 28px;
    height: 28px;
}

.fa-minus {
    color: red;
}
.fa-minus:hover {
    color: red !important;
}

div.all-icons {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.span-ic {
    flex: 1 0 auto;
    text-align: center;
}

.todo-name {
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
}

.other-text {
    font-weight: 500;
    font-size: 14px;
}


