.disp-item-hover:hover {
    box-shadow: 0 8px 16px 0 rgba(63, 61, 61, 0.2);
}

.disp-item-hover {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 7px;
}

.disp-plus-icon {
    position: absolute;
    top: -1.4px;
    right: -1.4px;
    width: 28px;
    height: 28px;
}

.fa-minus {
    color: red;
}
.fa-minus:hover {
    color: red !important;
}

div.all-icons {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.span-ic {
    flex: 1 0 auto;
    text-align: center;
}

.todo-name {
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.other-text {
    font-weight: 500;
    font-size: 0.7rem;
}


