.disp-container {
    background-color: rgb(209, 224, 224);
    width: calc(35vh + 35vw);
    min-width: fit-content;
    min-height: calc(14vh + 14vw);
    border-radius: 14px;
}

.disp-item {
    background-color: aliceblue;
    text-align: left;
    padding: calc(1.4vh + 1.4vw);
    box-shadow: 0 4px 8px 0 rgba(48, 47, 47, 0.2);
    margin: 5px;
    border-radius: 14px;
}

.disp-item:hover {
    box-shadow: 0 8px 16px 0 rgba(63, 61, 61, 0.2);
}

span {
    display: inline-flex;
    flex-direction: row;
}

p {
    margin: 0px;
}

b {
    text-transform: capitalize;
}

