.App {
  text-align: center;
}

div{
  padding: calc(0.5vh + 0.5vw);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.icons {
  color: rgb(52, 156, 247);
  background-color: rgb(73, 73, 78);
  border-radius: 14px;
  padding: 5px;
  margin: 5px;
}

table {
  border: 20;
  width: 80vw;
  min-height: 35vh;
  border-radius: 14px;
  background-color: whitesmoke;
  align-self: center;
}

.Footer {
  background-color: rgb(56, 56, 55);
  color: rgb(157, 157, 194);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
